* {
    margin: 0;
    padding: 0;
}
#wrap {
    width: 100vw;
    height: 10000px;
    background: #000;
}
.wave {
    opacity: 0.4;
    position: absolute;
    top: 3%;
    left: 30%;
    border: 2px solid #3781aa;
    width: 300px;
    height: 300px;
    -webkit-transform-origin: 50% 48%;
    transform-origin: 50% 48%;
    border-radius: 43%;
    -webkit-animation: drift 3000ms infinite linear;
    animation: drift 3000ms infinite linear;
}

.wave.-three {
    -webkit-animation: drift 5000ms infinite linear;
    animation: drift 5000ms infinite linear;
}

.wave.-two {
    -webkit-animation: drift 7000ms infinite linear;
    animation: drift 7000ms infinite linear;
    opacity: 0.1;
    border: 3px solid #4eabc1;
}

.box:after {
    content: '';
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #ee88aa, rgba(221, 238, 255, 0) 80%, rgba(255, 255, 255, 0.5));
    z-index: 11;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

@-webkit-keyframes drift {
    from {
        -webkit-transform: rotate(0deg) scale(0, 0);
        transform: rotate(0deg) scale(0, 0);
        opacity: 1;
    }
    to {
        -webkit-transform: rotate(360deg) scale(2, 2);
        transform: rotate(360deg) scale(2, 2);
        opacity: 0;
    }
}

@keyframes drift {
    from {
        -webkit-transform: rotate(0deg) scale(0, 0);
        transform: rotate(0deg) scale(0, 0);
        opacity: 1;
    }
    to {
        -webkit-transform: rotate(360deg) scale(2, 2);
        transform: rotate(360deg) scale(2, 2);
        opacity: 0;
    }
}
