@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');

html,
body {
    font-family: 'Pretendard', sans-serif !important;
    box-sizing: border-box;
}

* {
    font-family: 'Pretendard', sans-serif !important;
}
